<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درباره نویسنده</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">


    
    <link rel="stylesheet" href="../static/assests/css/aboutwriter.css">



</head>

<body>




    <header>
        

        <div class="container-fluid header_top">
    
            <div class="container">            
                    
                <div class="row align-items-center">
                    
                   
                    
                <button class="navbar-toggler d-block d-md-none col-1" data-bs-toggle="offcanvas" data-bs-target="#mainoffcanvas">
                    <i class="bi bi-list me-2"></i>
                </button>
                         
                    <div class="logoHeader col-10 col-md-1 d-flex justify-content-center justify-content-md-start align-items-center ps-4">
                        <a href="../templates/home.html"><img class="logo mb-3 mb-md-0" src="../static/assests/images/logo.svg" alt="logo" width="55px"></a>
                    </div>

                    <form class="col-12 col-md-11" role="search">
                        <div class="searchForm d-flex align-items-center justify-content-center">
                            <i class="search-icon bi bi-search p-2 cursor"></i>
                            <input class="searchBox" type="search" placeholder="جستجو">
                        </div>
                    </form>
    
                      
                    </div>
                

                    <nav class="navbar navbar-expand-md mt-md-3">   
               
                <div class="offcanvas col-12 offcanvas-end bg-white text-md-center" id="mainoffcanvas">
                          
    
                        <div class="offcanvas-header">
                            <h4 class="offcanvas-title me-2">
                                <img class="logoSm d-flex" src="../static/assests/images/logo.svg" alt="logo">
                            </h4>
                            <button class="btn-close" data-bs-dismiss="offcanvas"></button>  
                        </div>


                        
                    <div class="offcanvas-body">
    
    
                        <ul class="navbar-nav menu d-flex justify-content-start justify-content-md-between align-items-start align-items-md-center">
                        
                            <li class="nav-item d-flex align-items-center">
                                <i class="mgazine_icon_header bi bi-journal ms-2 ms-md-0"></i>
                                <a class="nav-link" href="../templates/magazin.html">آرشیو مجلات</a>
        
                            </li>
                            <div class="vertical_hr d-none d-md-block"></div>
        
                            <div class="horizontal_hr d-block d-md-none"></div>
        
                            
                            <li class="nav-item d-flex align-items-center ">
                                <i class="bi bi-pen ms-2 ms-md-0"></i>
                                <a class="nav-link" href="../templates/writers.html">نویسندگان</a>
        
                            </li>                 
                            <div class="vertical_hr d-none d-md-block"></div>
        
                            <div class="horizontal_hr d-block d-md-none"></div>
                            
                            <li class="nav-item d-flex align-items-center">
                                <i class="about_icon_header bi bi-person ms-2 ms-md-0"></i>
                                <a class="nav-link" href="../templates/about.html">درباره ما</a>
        
                            </li>
                    

                        
                        </ul>
    
    
                    </div>
                        
                </div>
                         
            </nav>
                    
            
            </div>
        
        </div>
    
    </header>
    


    
    <main class="mt-3">
        
    
        <div class="container">
    
            
                <div class="pages gap-2 d-none d-md-flex align-items-center">
                    <a href="../templates/home.html"><h6 class="p">تراثنا</h6></a>
                    <i class="breadCrumbIcon bi bi-chevron-left fw-bold"></i>
                    <a href="../templates/writers.html"><h6 class="p">نویسندگان</h6></a>
                    <i class="breadCrumbIcon bi bi-chevron-left fw-bold"></i>
                    <a href="../templates/aboutwriter.html"><h6 class="p">درباره نویسنده</h6></a>
                </div>
    

                <div class="height-divider d-flex justify-content-center align-items-center">
                        
                    <div class="divider d-flex justify-content-center align-items-center">
                        <h1 class="title_main d-flex justify-content-center align-items-center">درباره نویسنده</h1>
                    </div>
                    
                </div>


                    <div class="boxWriter mt-2 gap-4 d-flex flex-column">

                        <div class="d-flex gap-2 gap-md-4">

                            <div class="imageWriter">
                                <img src="../static/assests/images/jalal.svg" alt="writer" width="100%">
                            </div>

                            <div class="boxInfo d-flex flex-column justify-content-between py-2 py-md-3">

                                <ul class="writerUl d-flex flex-column justify-content-between">
                                    <li class="infoWriter"><h2>جلال آل احمد</h2></li>
                                    <li class="infoWriter">
                                        <div class="d-flex justify-content-between">

                                            <h6>تعداد مقالات:</h6>
                                            <div><h6>3 مقاله</h6></div>

                                        </div>
                                    </li>
                                </ul>

                                <div class="d-flex social-icons justify-content-between align-items-center">
                                   <a href="#"><i class="bi bi-whatsapp"></i></a>
                                   <a href="#"><i class="bi bi-telegram"></i></a>
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                </div>

                            </div>

                        </div>
                        
                        
                        <div class="d-flex flex-column gap-3">
                            <h6 class="titleWriter">بیوگرافی</h6>
                            <p class="pWriter text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،</p>
                        </div>
                        
                        

                        <div class="d-flex flex-column mt-3">
                            <h6 class="titleWriter">فهرست مقالات نویسنده</h6>
                        </div>


                        
                            <div class="boxsArticlePart d-flex flex-wrap flex-column flex-md-row justify-content-center align-items-center">

                                
                                <div class="article col-12 col-md-3">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">

                                        <div class="imgArrowArticle">
                                            <div class="txtImgArticle">بخش 1</div>
                                        </div>
    
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>

                                    </div>

                                </div>




                                <div class="article col-12 col-md-3">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">

                                        <div class="imgArrowArticle">
                                            <div class="txtImgArticle">بخش 2</div>
                                        </div>
    
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>

                                    </div>

                                </div>




                                <div class="article col-12 col-md-3">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">

                                        <div class="imgArrowArticle">
                                            <div class="txtImgArticle">بخش 3</div>
                                        </div>
    
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>

                                    </div>

                                </div>




                                <div class="article col-12 col-md-3">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">

                                        <div class="imgArrowArticle">
                                            <div class="txtImgArticle">بخش 4</div>
                                        </div>
    
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>

                                    </div>
                                    
                                </div>

                                
                                
                                
                            </div>
                                
                                
                                
                                <!-- Simple article -->

                                <hr class="w-100 m-0">
                                
                                

                                

                                <div class="articleSimple col-12">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">
                                        
                                        
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>
                                        
                                        </div>
                                        
                                    </div>
                                    

                                <div class="articleSimple col-12">

                                    <div class="boxArticle d-flex flex-column align-items-center justify-content-end position-relative">
                                        
                                        
                                        <h6 class="articleTitle p-1">عنوان مقاله:</h6>
                                        <h4 class="infoTitle">الإبادة لحكم الوضع علىٰ حديث : « ذِكْرُ عليٍّ عليه‌السلام عبادة »</h4>
                                        
                                        <div class="infoArticle d-flex justify-content-center align-items-center p-2">
                                            <h6>مجله ۱۲۱</h6>
                                            <div class="vertical_hr ms-2 me-2"></div>
                                            <h6>صفحه ۱۱۹</h6>
                                        </div>
                                        
                                        </div>
                                        
                                    </div>
                                    
                                    
                                    
                                    
                            
                                    
                              
                                    
                                    
                            <!-- simple article -->





                        

                    </div>



        </div>


        
    </main>






    <footer>
    
        <div class="container-fluid foot">
    
            <div class="container">
    
                
    
                        <div class="foot_parent d-flex flex-column flex-md-row justify-content-center align-items-center">
    
                            <div class="links col-4 col-md-3 mt-md-4">
        
                                <ul class="d-flex flex-column justify-content-center align-items-center align-items-md-start">
                    
                                    <li class="li_footer mb-4 order-2 order-md-0">
                                        <a class="text_footer col-12" href="#">آرشیو مجلات</a>
                                    </li>
                    
                                    <li class="li_footer mb-4 order-5 order-md-0">
                                        <a class="text_footer" href="#">صاحب امتیاز</a>
                                    </li>
    
                                    <li class="li_footer mb-4 order-4 order-md-0">
                                        <a class="text_footer" href="#">سردبیر</a>
                                    </li>
                    
                                    <li class="li_footer mb-4 order-3 order-md-0">
                                        <a class="text_footer" href="#">درباره ما</a>
                                    </li>
                    
                                    <li class="li_footer mb-4 order-1 order-md-0">
                                        <a class="text_footer" href="#">لینک‌ های مجله تراثنا</a>
                                    </li>
                    
                                </ul>
                
                            </div>
        
    
                        <div class="hr d-block d-md-none mb-4"></div>
        
                        <div class="textF d-flex flex-column justify-content-center align-items-center align-items-md-start">
        
                            <img class="logoFooter mb-2" src="../static/assests/images/logo.svg" alt="logo">

                            <p class="P_footer text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            </p>
        
                        </div>
    
    
                        <div class="address col-12 col-md-4 me-md-5 d-flex flex-column  justify-content-center align-items-center align-items-md-start mt-4">
    

                          <div class="me-md-4">

                            <h3 class="d-flex d-md-block justify-content-center infoCompany">با موسسه آل البیت همراه باشید</h3>
                            <h3 class="d-flex d-md-block justify-content-center">پاسخ گویی 9 صبح تا 5 عصر</h3>
                            <h1 class="d-flex d-md-block justify-content-center numCompany">09125161845</h1>
                            <h3 class="d-flex d-md-block justify-content-center">قم خیابان فاطمی نبش کوجه 9</h3>

                            <div class="icons d-flex justify-content-center justify-content-md-start pt-2">
                                <a href="#"><i class="bi bi-telegram cursor ms-2"></i></a>  
                                <a href="#"><i class="bi bi-instagram cursor me-2"></i></a>
                            </div>

                          </div>


                        </div>
    
    
    
                    </div>
    
                
    
    
            </div>
    
        </div>
    
    
        <div class="conteiner-fluid footer_bottom d-flex justify-content-center align-items-center p-2">
    متن حقوقی
        </div>
    
    
    </footer>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    
</body>
</html>